<!DOCTYPE html>
<html>

<body>
<br /><br />
<div id="content" style="background-color:#D2CEF0;height:1000px;width:1400px;text-align:center;padding-top:10ex;padding-right:1em;"><h1>Welcome</h1><br />
It's <%= Time.now %><br />
we have <%= pluralize(@total_orders, "order" ) %>
</div>
</style>
</body>
</html>
