<!DOCTYPE html>
<html>
<style>
body
{
background-color:#eeeee;
}
h1
{
color:brown;
text-align:center;
}
</style>
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</html>