<!DOCTYPE html>
<html>
<style>
body
{
background-color:#E0EAFB;
}
h1
{
text-align:center;
color:brown;
}
</style>
<h1>Editing order</h1>

<%= render 'form' %>

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
</html>