<!DOCTYPE html>
<html>
<style>
 body {
background: #efe;
}
 h1 {
color: #dfd ;
background: #141 ;
font-family: sans-serif;
padding: 0.2em;
}
 
</style>
<p id="notice"><%= notice %></p>
<%= render 'info/bill' %>

</body>
</html>