<!DOCTYPE html>
<html>
<style>
body
{
background-color:#996633;
}
h1
{
padding-top:3em;
color:#141;
text-align:center;
}
</style>
<h1>Editing product</h1>

<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
</html>