<!DOCTYPE html>
<html>
<style>
body
{
background-color:#CC6600;
}
h1
{
padding-top:3em;
padding-left:5em;
text-align:center;
color:#CC9900;
}
</style>
<h1>New product</h1>

<%= render 'form' %>

<%= link_to 'Back', products_path %>
</html>
